# Database
POSTGRES_USER=tvshifts
POSTGRES_PASSWORD=tvshifts_pass
POSTGRES_DB=tvshifts
DATABASE_URL=postgresql://tvshifts:tvshifts_pass@localhost:5433/tvshifts

# Auth
JWT_SECRET=change-me-to-a-long-random-string

# App
NODE_ENV=development
PORT=4000
WEB_URL=http://localhost:5173
VITE_API_URL=http://localhost:4000

# Google Sheets (заполнить после создания Service Account)
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_PROJECTS_SHEET_ID=1BC9ndpPJ5g1crv2M0tRXAIpZ0TUlbEBwl-hBA62T6ZE
GOOGLE_REGISTRY_SHEET_ID=18e9Lradn4Qq6O3z_MFXrlEHWVNyllM8S6sIvyQNA5dU
